.basket-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 96px;
    padding-bottom: 128px;

    @media (max-width: $tabletWidth) {
        display: flex;
        flex-direction: column;
        max-width: 730px;
    }

    &__first {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__card {
        display: grid;
        grid-template-columns: 4fr 6fr;
        max-width: 650px;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);

        @media (max-width: $tabletWidth) {
            max-width: 730px;
        }

        &_info {
            padding-top: 22px;
            padding-left: 30px;
            font-family: 'latolight';
        }

        &_title {
            padding-bottom: 42px;
            font-size: 24px;
            font-weight: 400;
            font-family: 'latoblack';
        }

        &_label {
            padding-bottom: 6px;
        }

        &_price {
            color: $colorSelection;
        }

        &_quantity {
            @include flexLeft();
            flex-direction: row;
        }

        // &__value {}

        &_input {
            border: 1px solid #EAEAEA;
            margin-left: 40px;
            width: 21px;
        }
    }

    &__control {
        margin-bottom: 64px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: 'latolight';

        @media (max-width: $tabletWidth) {
            justify-content: center;
            gap: 48px;
        }

        &_button {
            width: 234px;
            height: 50px;
            @include flexCenter();
            flex-direction: row;
            border: 1px solid #A4A4A4;

            &:hover {
                color: $colorTextLight;
                background-color: $colorSelection;
            }
        }
    }

    &__second {
        margin-left: 15px;
        display: flex;
        flex-direction: column;

        @media (max-width: $tabletWidth) {
            display: flex;
            flex-direction: row;
        }
    }

    &__checkout {
        padding: 40px;
        display: flex;
        flex-direction: column;
        font-family: 'latolight';

        @media (max-width: $tabletWidth) {
            max-width: 360px;
            margin-left: 1px;
        }

        &_total {
            margin-bottom: 21px;
            @include flexRight();
            flex-direction: column;
            gap: 12px;
        }

        &_subtotal {
            @include flexRight();
            flex-direction: row;
            gap: 12px;
            font-size: 11px;
            font-weight: 400;

            // &_label {

            // }
        }

        &_grandtotal {
            @include flexRight();
            flex-direction: row;
            font-size: 16px;
            font-weight: 300;
            gap: 12px;

            &_value {
                color: $colorSelection;
            }
        }

        &_line {
            margin-bottom: 17px;
            height: 1px;
            background-color: #E2E2E2;
        }

        &_proceed {
            font-size: 16px;
            font-weight: 300;
            border: 1px solid #A4A4A4;

            &:hover {
                color: $colorTextLight;
                background-color: $colorSelection;
            }
        }

        &_title {
            padding: 16px 42px;
        }
    }

    &__shipping {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        width: 100%;

        @media (max-width: $tabletWidth) {
            max-width: 360px;
        }

        &_title {
            font-size: 16px;
            font-weight: 300;
            color: #222;
        }

        &_input {
            width: 100%;
            height: 45px;
            border: 1px solid #A4A4A4;
            font-size: 13px;
            font-weight: 300;
            color: #B1B1B1;
        }
    }

    .input_quote {
        margin-bottom: 68px;
        width: 100px;
    }
}