* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}



summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

a {
    text-decoration: none;
}

body {
    font-family: Lato;
    overflow-x: hidden;
}

.center {
    padding-left: calc(50% - $siteCalcWidth / 2);
    padding-right: calc(50% - $siteCalcWidth / 2);
}

.box-content {
    overflow: hidden;
}

.center_block {
    padding-left: calc(50% - $blockWidth / 2);
    padding-right: calc(50% - $blockWidth / 2);
}

.main-box {
    @include flexCenter();
    flex-direction: column;
}