.header {
    padding-top: 18px;
    padding-bottom: 19px;
    background-color: $colorBackDark;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &_left {
        @include flexCenter($justifyContent: flex-start);
        gap: 41px;
    }

    &_right {
        @include flexCenter($justifyContent: flex-end);
        gap: 33px;
    }
}