@mixin flexCenter($justifyContent: center) {
    display: flex;
    justify-content: $justifyContent;
    align-items: center;
}

@mixin flexLeft() {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin flexRight() {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

@mixin addToCartBlock($color: $colorTextLight) {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 139px;
    height: 44px;
    border: 1px solid;
    color: $color;
    gap: 24px;
}