.product-box {
    padding-bottom: 128px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;

    @media (max-width: $tabletWidth) {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: $phoneWidth) {
        grid-template-columns: 1fr;
    }
}

.product {
    outline: none;
    @include flexLeft();
    flex-direction: column;
    background-color: #F8F8F8;

    @media (max-width: $tabletWidth) {
        .product:last-child {
            display: none;
        }
    }

    &:hover {

        .product__cart_flex {
            background-color: black;
        }

        .product__img {
            opacity: 0.5;
        }

        .product__cart_block {
            z-index: 8;
        }
    }

    &__content {
        padding: 16px 16px;
    }

    &__img {
        width: 100%;
    }

    &__name {
        margin-bottom: 12px;
        font-size: 13px;
        font-weight: 400;
        color: #000;
    }

    &__text {
        font-family: 'latolight';
        margin-bottom: 18px;
        font-size: 14px;
        font-weight: 300;
        color: #5D5D5D;
    }

    &__price {
        color: $colorSelection;
        font-size: 16px;
        font-weight: 400;
    }
}



.product__cart_flex {
    @include flexCenter();
    position: relative;
}

.product__cart_block {
    @include addToCartBlock($colorTextLight);
    position: absolute;
    z-index: -10;
}

.nav-carousel {
    @include flexCenter(space-between);
    background-color: #F7F7F7;

    &__img {
        max-width: 724px;
    }

    &__model {
        width: 100%;
    }

    &__button {
        @include flexCenter();
        min-width: 47px;
        max-width: 47px;
        min-height: 47px;
        max-height: 47px;
        background-color: #2A2A2A26;
    }

    &__svg:hover path {
        fill: $colorSelection;
    }
}

.info-product {
    padding-bottom: 130px;


    &__flex {
        padding-top: 64px;
        padding-bottom: 64px;
        border: 1px solid #EAEAEA;
        @include flexCenter();
        flex-direction: column;
        position: relative;
        margin-top: -40px;
        background-color: #FFF;

        @media (max-width: $tabletWidth) {
            margin-top: -20px;
        }

        @media (max-width: $phoneWidth) {
            margin-top: -10;
        }
    }

    &__title {
        margin-bottom: 12px;
        color: $colorSelection;
        font-size: 14px;
        font-weight: 300;
    }

    &__devidor {
        margin-bottom: 12px;
        width: 63px;
        height: 3px;
        background-color: $colorSelection;
    }

    &__subtitle {
        margin-bottom: 48px;
        color: #4D4D4D;
        font-size: 18px;
        font-weight: 300;
    }

    &__text {
        margin-bottom: 32px;
        max-width: 555px;
        color: #5E5E5E;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        font-family: 'latolight';
    }

    &__price {
        margin-bottom: 52px;
        color: $colorSelection;
        font-size: 24px;
        font-weight: 300;
    }

    &__vector {
        margin-bottom: 64px;
        width: 100%;
        height: 1px;

        background-color: #EAEAEA;
    }

    &__choice {
        margin-bottom: 48px;
        @include flexCenter();
        flex-wrap: wrap;
        flex-direction: row;
        gap: 24px;
    }

    &__choice_item {
        @include flexCenter();
        flex-direction: row;
        gap: 8px;
    }

    &__add_to_cart {
        @include addToCartBlock($colorSelection);
        width: 200px;
        height: 48px;
    }
}

.info-product__add_to_cart:hover {
    background-color: $colorSelection;
    color: $colorTextLight;

    path {
        fill: $colorTextLight;
    }
}
