$siteCalcWidth: 1140px;
$blockWidth: 640px;
$tabletWidth: 767px;
$tableCalcWidth: 734px;
$phoneWidth: 375px;
$phoneCalcWidth: 344px;
$burgerMenuWidth: 232px;
$colorBackTop: #F1E4E6;
$colorTopHead:#F8F3F4;
$colorBackDark: #222222;
$colorBackLight: #F8F8F8;
$colorBackBlend: #F4F4F4B2;
$colorBackInput: #E1E1E1;
$colorSelection: #F16D7F;
$colorNav: #636363;
$colorTextLight: #FFF;