* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.center {
    padding-left: calc(50% - 512px);
    padding-right: calc(50% - 512px);
}

.header {
    padding-top: 18px;
    padding-bottom: 19px;
    background-color: #222222;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.menu_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 41px;
}

.menu_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 33px;
}

.top {
    min-height: 300px;
    margin-bottom: 65px;
    background-color: #F1E4E6;;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.top_title {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.top img {
    width: 100%;
}

.top_title1 {
    font-size: 48px;
    font-weight: 900;
}

.top_title2 {
    font-size: 32px;
    font-weight: 700;
}

.top_intitle2 {
    color: #F16D7F;
}

.middle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.middle_item {
    background-color: #211616B2;
}

.middle_item4 {
    grid-column: span 3;
}

.middle_item img {
    width: 100%
}

.content {
    margin-bottom: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_title {
    margin-top: 96px;
    margin-bottom: 6px;
    font-size: 30px;
    font-weight: 400;
}

.content_subtitle {
    margin-bottom: 49px;
    max-width: 400px;
    font-size: 14px;
    font-weight: 400;
}

.content_grid {
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.content_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add_to_cart_flex {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.add_to_cart_block {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 139px;
    height: 44px;
    border: 1px solid;
    color: white;
}

.add_to_cart {
    display: flex;
    width: 100%;
}

.content_item_img {
    width: 100%;
}

.content_item:hover {
    .add_to_cart_flex {
        background-color: black;
    }
    .add_to_cart_block {
        display: flex;
    }
    .content_item_img {
        opacity: 0.5;
    } 
}

.content_item_footer {
    padding: 24px 16px;
    background-color: #F8F8F8;
}

.content_item_title {
    margin-bottom: 16px;
    font-size: 13px;
    font-weight: 400;
}

.content_item_subtitle {
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 300;
}
.content_item_price {
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
}

.content_footer {
    display: flex;
    justify-content: center;
}

.content_footer_button {
    padding: 15px 39px;
    border-color: #FF6A6A;
    color: #F26376;
    background-color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.service {
    background-color: #222224;
    color: #FBFBFB;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.service_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service_icon {
    margin-top: 103px;
    margin-bottom: 28px;
}

.service_title {
    margin-bottom: 16px;
    font-size: 19.96px;
    font-weight: 400;
}
.service_subtitle {
    margin-bottom: 104px;
    max-width: 360px;
    font-size: 13.972px;
    font-weight: 300;
}

.subscribe {
    padding-top: 97px;
    padding-bottom: 126px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F4F4F4B2;
}

.phrase {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phrase_img {
    margin-bottom: 30px;
}

.phrase_text {
    max-width: 360px;
    font-size: 20px;
    font-weight: 400;
}

.prom_title {
    max-width: 300px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.prom_subtitle {
    margin-bottom: 32px;
    max-width: 400px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.prom_flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.prom_email {
    padding-left: 20px;
    max-width: 256px;
    height: 49px;
    background-color: #E1E1E1;
    font-size: 14px;
    font-weight: 400;
    border: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.prom_subscribe {
    max-width: 100px;
    height: 49px;
    font-size: 14px;
    font-weight: 400;
    background-color: #F16D7F;
    border: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.footer_flex {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #222224;
    display: flex;
    justify-content: space-between;
}

.footer_title {
    max-width: 332px;
    font-size: 16px;
    font-weight: 400;
    color: white;
}
.footer_menu {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.footer_menu_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: white;
}

.footer_menu_item:hover {
    background-color: #F16D7F;
}

@media (max-width: 1024px) {
    /* .center {
        padding-left: calc(50% - 512px);
        padding-right: calc(50% - 512px);
    } */

    .header {
        background-color: #023013;
    }
    .top {
        justify-items: start;
    }
    .top img {
        width: 100%;
    }
    .top_title {
        min-width: 200px;    }

    .middle_item img {
        width: 100%
    }
    .content_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 767px) {
    .center {
        padding-left: calc(50% - 367px);
        padding-right: calc(50% - 367px);
    }

    .top img {
        width: 100%;
    }
    .top_title1 {
        font-size: 42px;
        font-weight: 900;
    }
    
    .top_title2 {
        font-size: 28px;
        font-weight: 700;
    }
    .header {
        background-color: #a78f19;
    }

    .middle {
        display: grid;
        grid-template-columns: 1fr;
    }
    .middle_item3 {
        grid-column: span 1;
    }
    .middle_item4 {
        grid-column: span 1;
    }
    .content_grid {
        display: grid;
        grid-template-columns: 1fr;
    }
    .content_item img {
        width: 100%;
    }
    .service {
        flex-direction: column;
    }
    .subscribe {
        flex-direction: column;
        gap: 48px;
    }
    .footer_flex {
        flex-direction: column-reverse;
        gap: 40px;
        align-items: center;
    }
}

@media (max-width: 375px) {
    .center {
        padding-left: calc(50% - 180px);
        padding-right: calc(50% - 180px);
    }

    .top {
        display: grid;
        grid-template-columns: 1fr;
    }
    .top_img {
        display: none;
    }
    .top_title {
        padding-left: 20px;
    }
    .top_title1 {
        font-size: 38px;
        font-weight: 900;
    }
    
    .top_title2 {
        font-size: 22px;
        font-weight: 700;
    }
}