@import 'vars';
@import 'mixins';
@import 'header';
@import 'footer';
@import 'products';

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}



summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'latoblack', sans-serif;
}

.center {
    padding-left: calc(50% - $siteCalcWidth / 2);
    padding-right: calc(50% - $siteCalcWidth / 2);
}

.box-content {
    overflow: hidden;
}

.header {
    position: relative;
}

#burger {
    left: -999999px;
    visibility: hidden;

    &:checked~.menu {
        right: -$burgerMenuWidth;
    }
}

.menu {
    background: #FFF;
    width: $burgerMenuWidth;
    padding: 32px;
    box-sizing: border-box;
    position: absolute;
    top: 80px;
    right: 0;
    transition: right .3s;
    z-index: 20;

    @media (max-width: $phoneWidth) {
        width: $burgerMenuWidth / 2;
    }

    &__summary {
        display: flex;
        align-items: center;
    }

    &__heading {
        color: #000;
        font-size: 14px;
        font-weight: 700;
    }

    &[open] &__heading {
        color: $colorSelection;
    }

    &__item {
        margin-top: 16px;
    }

    &__item[open] .menu__head {
        color: $colorSelection;
    }

    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px;
    }

    &__head {
        color: #636363;
        font-size: 14px;
        font-weight: 400;
    }

    &__link {
        color: #6F6E6E;
        font-size: 14px;
        font-weight: 400;
        font-family: 'latolight';

        &:hover {
            color: $colorSelection;
        }
    }
}

.top {
    min-height: 300px;
    margin-bottom: 65px;
    background-color: $colorBackTop;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.top_title {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.top img {
    width: 100%;
}

.top_title1 {
    font-size: 48px;
    font-weight: 900;
}

.top_title2 {
    font-size: 32px;
    font-weight: 700;
}

.top_intitle2 {
    color: $colorSelection;
}

.middle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.middle_item {
    width: 100%;
}

.middle_item_flex {
    @include flexCenter();
    flex-direction: column;
    position: relative;
}

.middle_img {
    width: 100%;
}

.middle_ground {
    width: 100%;
    position: absolute;
}

.middle_ground_img {
    opacity: 0.8;
}

.middle_text {
    display: flex;
    position: absolute;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.middle_title {
    font-size: 12px;
    font-weight: 300;
    color: $colorTextLight;
}

.middle_subtitle {
    font-size: 18px;
    font-weight: 900;
    color: $colorSelection;
}

.middle_item4 {
    grid-column: span 3;
}

.middle_item img {
    width: 100%;
}

.content {
    margin-bottom: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_title {
    margin-top: 96px;
    margin-bottom: 6px;
    font-size: 30px;
    font-weight: 400;
}

.content_subtitle {
    margin-bottom: 49px;
    max-width: 400px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'latolight';
}

.content_item {
    @include flexCenter();
    flex-direction: column;
}

.add_to_cart_flex {
    @include flexCenter();
    position: relative;
    width: 100%;
}

.add_to_cart_block {
    @include addToCartBlock($colorTextLight);
    display: none;
    position: absolute;
}

.add_to_cart {
    display: flex;
    width: 100%;
}

.product__cart_flex {
    @include flexCenter();
    position: relative;
}

.product__cart_block {
    @include addToCartBlock($colorTextLight);
    position: absolute;
    z-index: -10;
}

.content_item_img {
    width: 100%;
}

.content_item:hover {
    .add_to_cart_flex {
        background-color: black;
    }

    .add_to_cart_block {
        display: flex;
    }

    .content_item_img {
        opacity: 0.5;
    }
}

.content_item_footer {
    padding: 24px 16px;
    background-color: $colorBackLight;
}

.content_item_title {
    margin-bottom: 16px;
    font-size: 13px;
    font-weight: 400;
}

.content_item_subtitle {
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 300;
}

.content_item_price {
    color: $colorSelection;
    font-size: 16px;
    font-weight: 400;
}

.content_footer {
    display: flex;
    justify-content: center;
}

.content_footer_button:hover {
    background-color: $colorSelection;
    color: $colorTextLight;
}

.content_footer_button {
    padding: 15px 39px;
    background-color: $colorTextLight;
    border-color: $colorSelection;
    color: $colorSelection;
    font-size: 16px;
    font-weight: 400;
}

.service {
    background-color: $colorBackDark;
    color: $colorTextLight;
    display: flex;
    flex-direction: row;
    gap: 30px;

    &__flex {
        margin-top: 70px;
        margin-bottom: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: $tabletWidth) {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &__icon {
        margin-top: 25px;
        margin-bottom: 28px;
    }

    &__title {
        margin-bottom: 16px;
        font-size: 19.96px;
        font-weight: 400;
    }

    &__subtitle {
        margin-bottom: 40px;
        max-width: 360px;
        font-size: 13.972px;
        font-weight: 300;
        font-family: 'latolight';
    }
}

.subscribe {
    padding-top: 97px;
    padding-bottom: 126px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $colorBackBlend;
    background-image: URL("img/ground3.png");
    background-blend-mode: overlay;
    background-size: cover;
}

.phrase {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phrase_img {
    margin-bottom: 30px;
}

.phrase_text {
    max-width: 360px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'latolight';
}

.prom_title {
    max-width: 300px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.prom_subtitle {
    margin-bottom: 32px;
    max-width: 400px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.prom_flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.prom_email {
    padding-left: 20px;
    max-width: 256px;
    height: 49px;
    background-color: $colorBackInput;
    font-size: 14px;
    font-weight: 400;
    border: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.prom_subscribe {
    min-width: 100px;
    height: 49px;
    font-size: 14px;
    font-weight: 400;
    background-color: $colorSelection;
    border: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

@media (max-width: $tabletWidth) {
    .center {
        padding-left: calc(50% - $tableCalcWidth);
        padding-right: calc(50% - $tableCalcWidth);
    }

    .top {
        display: grid;
        grid-template-columns: 1fr;
    }

    .top_img {
        display: none;
    }

    .top_title1 {
        font-size: 42px;
        font-weight: 900;
    }

    .top_title2 {
        font-size: 28px;
        font-weight: 700;
    }

    .middle {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .middle_item3 {
        grid-column: span 2;
    }

    .middle_item4 {
        grid-column: span 2;
    }

    .content_item img {
        width: 100%;
    }

    .service {
        flex-direction: column;
    }

    .subscribe {
        flex-direction: column;
        gap: 48px;
    }
}

@media (max-width: $phoneWidth) {
    .center {
        padding-left: calc(50% - $phoneCalcWidth);
        padding-right: calc(50% - $phoneCalcWidth);
    }

    .top_title {
        padding-left: 20px;
    }

    .top_title1 {
        font-size: 38px;
        font-weight: 900;
    }

    .top_title2 {
        font-size: 22px;
        font-weight: 700;
    }

    .middle {
        display: grid;
        grid-template-columns: 1fr;
    }

    .middle_item3 {
        grid-column: span 1;
    }

    .middle_item4 {
        grid-column: span 1;
    }

    .menu_person {
        display: none;
    }

    .menu_basket {
        display: none;
    }
}

.center_block {
    padding-left: calc(50% - $blockWidth / 2);
    padding-right: calc(50% - $blockWidth / 2);
}

.top-head {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F3F4;
}

.top-head__heading {
    color: $colorSelection;
    font-size: 24px;
    font-weight: 400;
}

.breadcrumbs {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 14px;
    font-weight: 300;

    &__link {
        color: $colorNav;

        &:hover {
            color: $colorSelection;
            font-weight: 700;
        }
    }

    &__link_site {
        color: $colorSelection;
        font-size: 14px;
        font-weight: 700;
    }
}

.main-box {
    @include flexCenter();
    flex-direction: column;
}

.nav-carousel {
    @include flexCenter(space-between);
    background-color: #F7F7F7;

    &__img {
        max-width: 724px;
    }

    &__model {
        width: 100%;
    }

    &__button {
        @include flexCenter();
        min-width: 47px;
        max-width: 47px;
        min-height: 47px;
        max-height: 47px;
        background-color: #2A2A2A26;
    }

    &__svg:hover path {
        fill: $colorSelection;
    }
}

.info-product {
    padding-bottom: 130px;


    &__flex {
        padding-top: 64px;
        padding-bottom: 64px;
        border: 1px solid #EAEAEA;
        @include flexCenter();
        flex-direction: column;
        position: relative;
        margin-top: -40px;
        background-color: #FFF;

        @media (max-width: $tabletWidth) {
            margin-top: -20px;
        }

        @media (max-width: $phoneWidth) {
            margin-top: -10;
        }
    }

    &__title {
        margin-bottom: 12px;
        color: $colorSelection;
        font-size: 14px;
        font-weight: 300;
    }

    &__devidor {
        margin-bottom: 12px;
        width: 63px;
        height: 3px;
        background-color: $colorSelection;
    }

    &__subtitle {
        margin-bottom: 48px;
        color: #4D4D4D;
        font-size: 18px;
        font-weight: 300;
    }

    &__text {
        margin-bottom: 32px;
        max-width: 555px;
        color: #5E5E5E;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        font-family: 'latolight';
    }

    &__price {
        margin-bottom: 52px;
        color: $colorSelection;
        font-size: 24px;
        font-weight: 300;
    }

    &__vector {
        margin-bottom: 64px;
        width: 100%;
        height: 1px;

        background-color: #EAEAEA;
    }

    &__choice {
        margin-bottom: 48px;
        @include flexCenter();
        flex-wrap: wrap;
        flex-direction: row;
        gap: 24px;
    }

    &__choice_item {
        @include flexCenter();
        flex-direction: row;
        gap: 8px;
    }

    &__add_to_cart {
        @include addToCartBlock($colorSelection);
        width: 200px;
        height: 48px;
    }
}

.info-product__add_to_cart:hover {
    background-color: $colorSelection;
    color: $colorTextLight;

    path {
        fill: $colorTextLight;
    }
}

.filter-sort {
    padding-top: 20px;
    height: 100px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    gap: 30px;
}

.filter {
    padding-top: 13px;
    width: 360px;
    box-sizing: border-box;
    position: relative;
    z-index: 10;

    &__content {
        background-color: #fff;
        padding-top: 0;
        padding-right: 16px;
        padding-bottom: 16px;
        padding-left: 16px;
    }

    &[open] {
        background: #ffffff;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);

    }

    &[open] &__heading {
        color: $colorSelection;
    }

    &[open] path {
        fill: $colorSelection;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 11px;
        padding-left: 16px;
    }

    &__item {
        margin-top: 16px;
    }

    &__heading {
        color: #000;
        font-size: 14px;
        font-weight: 600;

        @media (max-width: $phoneWidth) {
            display: none;
        }
    }

    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px;
    }

    &__link {
        color: #6F6E6E;
        font-size: 14px;
        font-weight: 400;
        font-family: 'latolight';

        &:hover {
            color: $colorSelection;
        }
    }

    &__head {
        color: #636363;
        font-size: 14px;
        font-weight: 300;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
        border-left: 5px solid $colorSelection;

        &__heading {
            color: #6F6E6E;
            font-size: 14px;
            font-weight: 400;
        }
    }

    &__item[open] .filter__head {
        color: $colorSelection;
    }
}

.sort {
    padding-top: 12px;
    display: flex;
    gap: 18px;

    &__details {
        position: relative;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__check {
        display: flex;
        gap: 9px;
        align-items: center;
        color: #6F6E6E;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        font-family: 'latolight';
    }

    &__heading {
        color: #6F6E6E;
        font-size: 14px;
        font-weight: 400;

        @media (max-width: $phoneWidth) {
            font-size: 12px;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        background: #FFF;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        padding: 7px 30px 11px 9px;
        position: absolute;
        left: -9px;
        top: 20px;
    }
}