@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

a {
  text-decoration: none;
}

body {
  font-family: Lato;
  overflow-x: hidden;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.box-content {
  overflow: hidden;
}

.center_block {
  padding-left: calc(50% - 320px);
  padding-right: calc(50% - 320px);
}

.main-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  padding-top: 18px;
  padding-bottom: 19px;
  background-color: #222222;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}
.header_left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 41px;
}
.header_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 33px;
}

.header_menu__svg:hover path {
  fill: #F16D7F;
}

#burger {
  left: -999999px;
  visibility: hidden;
  position: absolute;
}
#burger:checked ~ .menu {
  right: -232px;
}

.menu {
  background: #FFF;
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  position: absolute;
  top: 80px;
  right: 0;
  transition: right 0.3s;
  z-index: 20;
}
@media (max-width: 375px) {
  .menu {
    width: 116px;
  }
}
.menu__summary {
  display: flex;
  align-items: center;
}
.menu__heading {
  color: #000;
  font-size: 14px;
  font-weight: 700;
}
.menu[open] .menu__heading {
  color: #F16D7F;
}
.menu__item {
  margin-top: 16px;
}
.menu__item[open] .menu__head {
  color: #F16D7F;
}
.menu__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.menu__head {
  color: #636363;
  font-size: 14px;
  font-weight: 400;
}
.menu__link {
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
  font-family: "latolight";
}
.menu__link:hover {
  color: #F16D7F;
}

.top-head {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F8F3F4;
}
.top-head__heading {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 400;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 14px;
  font-weight: 300;
}
.breadcrumbs__link {
  color: #636363;
}
.breadcrumbs__link:hover {
  color: #F16D7F;
  font-weight: 700;
}
.breadcrumbs__link_site {
  color: #F16D7F;
  font-size: 14px;
  font-weight: 700;
}

.top {
  min-height: 300px;
  margin-bottom: 65px;
  background-color: #F1E4E6;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.top_title {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.top img {
  width: 100%;
}
.top_title1 {
  font-size: 48px;
  font-weight: 900;
}
.top_title2 {
  font-size: 32px;
  font-weight: 700;
}
.top_intitle2 {
  color: #F16D7F;
}

.middle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.middle_item {
  width: 100%;
}
.middle_item_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.middle_img {
  width: 100%;
}
.middle_ground {
  width: 100%;
  position: absolute;
}
.middle_ground_img {
  opacity: 0.8;
}
.middle_text {
  display: flex;
  position: absolute;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.middle_title {
  font-size: 12px;
  font-weight: 300;
  color: #FFF;
}
.middle_subtitle {
  font-size: 18px;
  font-weight: 900;
  color: #F16D7F;
}
.middle_item4 {
  grid-column: span 3;
}
.middle_item img {
  width: 100%;
}

.content {
  margin-bottom: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content_title {
  margin-top: 96px;
  margin-bottom: 6px;
  font-size: 30px;
  font-weight: 400;
}
.content_subtitle {
  margin-bottom: 49px;
  max-width: 400px;
  font-size: 14px;
  font-weight: 400;
  font-family: "latolight";
}
.content_item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content_item_img {
  width: 100%;
}
.content_item:hover .add_to_cart_flex {
  background-color: black;
}
.content_item:hover .add_to_cart_block {
  display: flex;
}
.content_item:hover .content_item_img {
  opacity: 0.5;
}
.content_item_footer {
  padding: 24px 16px;
  background-color: #F8F8F8;
}
.content_item_title {
  margin-bottom: 16px;
  font-size: 13px;
  font-weight: 400;
}
.content_item_subtitle {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 300;
}
.content_item_price {
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
}

.content_footer {
  display: flex;
  justify-content: center;
}
.content_footer_button:hover {
  background-color: #F16D7F;
  color: #FFF;
}
.content_footer_button {
  padding: 15px 39px;
  background-color: #FFF;
  border: 1px solid #F16D7F;
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
}

.add_to_cart {
  display: flex;
  width: 100%;
}
.add_to_cart_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
.add_to_cart_block {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 139px;
  height: 44px;
  border: 1px solid;
  color: #FFF;
  gap: 24px;
  display: none;
  position: absolute;
}

.filter-sort {
  padding-top: 20px;
  height: 100px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  gap: 30px;
}

.filter {
  padding-top: 13px;
  width: 360px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
}
.filter__content {
  background-color: #fff;
  padding-top: 0;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}
.filter[open] {
  background: #ffffff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter__heading {
  color: #F16D7F;
}
.filter[open] path {
  fill: #F16D7F;
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 16px;
}
.filter__item {
  margin-top: 16px;
}
.filter__heading {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}
@media (max-width: 375px) {
  .filter__heading {
    display: none;
  }
}
.filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter__link {
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
  font-family: "latolight";
}
.filter__link:hover {
  color: #F16D7F;
}
.filter__head {
  color: #636363;
  font-size: 14px;
  font-weight: 300;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #F16D7F;
}
.filter__head__heading {
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
}
.filter__item[open] .filter__head {
  color: #F16D7F;
}

.sort {
  padding-top: 12px;
  display: flex;
  gap: 18px;
}
.sort__details {
  position: relative;
}
.sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort__check {
  display: flex;
  gap: 9px;
  align-items: center;
  color: #6F6E6E;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-family: "latolight";
}
.sort__heading {
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
}
@media (max-width: 375px) {
  .sort__heading {
    font-size: 12px;
  }
}
.sort__box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: #FFF;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
  position: absolute;
  left: -9px;
  top: 20px;
}

.basket-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 96px;
  padding-bottom: 128px;
}
@media (max-width: 767px) {
  .basket-content {
    display: flex;
    flex-direction: column;
    max-width: 730px;
  }
}
.basket-content__first {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.basket-content__card {
  display: grid;
  grid-template-columns: 4fr 6fr;
  max-width: 650px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
@media (max-width: 767px) {
  .basket-content__card {
    max-width: 730px;
  }
}
.basket-content__card_info {
  padding-top: 22px;
  padding-left: 30px;
  font-family: "latolight";
}
.basket-content__card_title {
  padding-bottom: 42px;
  font-size: 24px;
  font-weight: 400;
  font-family: "latoblack";
}
.basket-content__card_label {
  padding-bottom: 6px;
}
.basket-content__card_price {
  color: #F16D7F;
}
.basket-content__card_quantity {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.basket-content__card_input {
  border: 1px solid #EAEAEA;
  margin-left: 40px;
  width: 21px;
}
.basket-content__control {
  margin-bottom: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "latolight";
}
@media (max-width: 767px) {
  .basket-content__control {
    justify-content: center;
    gap: 48px;
  }
}
.basket-content__control_button {
  width: 234px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px solid #A4A4A4;
}
.basket-content__control_button:hover {
  color: #FFF;
  background-color: #F16D7F;
}
.basket-content__second {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .basket-content__second {
    display: flex;
    flex-direction: row;
  }
}
.basket-content__checkout {
  padding: 40px;
  display: flex;
  flex-direction: column;
  font-family: "latolight";
}
@media (max-width: 767px) {
  .basket-content__checkout {
    max-width: 360px;
    margin-left: 1px;
  }
}
.basket-content__checkout_total {
  margin-bottom: 21px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  gap: 12px;
}
.basket-content__checkout_subtotal {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
  gap: 12px;
  font-size: 11px;
  font-weight: 400;
}
.basket-content__checkout_grandtotal {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
  font-size: 16px;
  font-weight: 300;
  gap: 12px;
}
.basket-content__checkout_grandtotal_value {
  color: #F16D7F;
}
.basket-content__checkout_line {
  margin-bottom: 17px;
  height: 1px;
  background-color: #E2E2E2;
}
.basket-content__checkout_proceed {
  font-size: 16px;
  font-weight: 300;
  border: 1px solid #A4A4A4;
}
.basket-content__checkout_proceed:hover {
  color: #FFF;
  background-color: #F16D7F;
}
.basket-content__checkout_title {
  padding: 16px 42px;
}
.basket-content__shipping {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}
@media (max-width: 767px) {
  .basket-content__shipping {
    max-width: 360px;
  }
}
.basket-content__shipping_title {
  font-size: 16px;
  font-weight: 300;
  color: #222;
}
.basket-content__shipping_input {
  width: 100%;
  height: 45px;
  border: 1px solid #A4A4A4;
  font-size: 13px;
  font-weight: 300;
  color: #B1B1B1;
}
.basket-content .input_quote {
  margin-bottom: 68px;
  width: 100px;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #222222;
  display: flex;
  justify-content: space-between;
}
.footer_title {
  max-width: 332px;
  font-size: 16px;
  font-weight: 400;
  color: #FFF;
  font-family: "latolight";
}
.footer_menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 8px;
}
.footer_menu_item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 32px;
  height: 32px;
  background-color: #FFF;
}
.footer_menu_item:hover {
  background-color: #F16D7F;
}
@media (max-width: 767px) {
  .footer {
    flex-direction: column-reverse;
    gap: 40px;
    align-items: center;
  }
}

.service {
  background-color: #222222;
  color: #FFF;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.service__flex {
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767px) {
  .service__flex {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.service__icon {
  margin-top: 25px;
  margin-bottom: 28px;
}
.service__title {
  margin-bottom: 16px;
  font-size: 19.96px;
  font-weight: 400;
}
.service__subtitle {
  margin-bottom: 40px;
  max-width: 360px;
  font-size: 13.972px;
  font-weight: 300;
  font-family: "latolight";
}

.subscribe {
  padding-top: 97px;
  padding-bottom: 126px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(244, 244, 244, 0.6980392157);
  background-image: URL("img/ground3.png");
  background-blend-mode: overlay;
  background-size: cover;
}

.phrase {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phrase_img {
  margin-bottom: 30px;
}

.phrase_text {
  max-width: 360px;
  font-size: 20px;
  font-weight: 400;
  font-family: "latolight";
}

.prom_title {
  max-width: 300px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.prom_subtitle {
  margin-bottom: 32px;
  max-width: 400px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.prom_flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.prom_email {
  padding-left: 20px;
  max-width: 256px;
  height: 49px;
  background-color: #E1E1E1;
  font-size: 14px;
  font-weight: 400;
  border: 0px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.prom_subscribe {
  min-width: 100px;
  height: 49px;
  font-size: 14px;
  font-weight: 400;
  background-color: #F16D7F;
  border: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.product-box {
  padding-bottom: 128px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
@media (max-width: 767px) {
  .product-box {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 375px) {
  .product-box {
    grid-template-columns: 1fr;
  }
}

.product {
  outline: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #F8F8F8;
}
@media (max-width: 767px) {
  .product .product:last-child {
    display: none;
  }
}
.product:hover .product__cart_flex {
  background-color: black;
}
.product:hover .product__img {
  opacity: 0.5;
}
.product:hover .product__cart_block {
  z-index: 8;
}
.product__content {
  padding: 16px 16px;
}
.product__img {
  width: 100%;
}
.product__name {
  margin-bottom: 12px;
  font-size: 13px;
  font-weight: 400;
  color: #000;
}
.product__text {
  font-family: "latolight";
  margin-bottom: 18px;
  font-size: 14px;
  font-weight: 300;
  color: #5D5D5D;
}
.product__price {
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
}

.product__cart_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.product__cart_block {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 139px;
  height: 44px;
  border: 1px solid;
  color: #FFF;
  gap: 24px;
  position: absolute;
  z-index: -10;
}

.nav-carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F7F7F7;
}
.nav-carousel__img {
  max-width: 724px;
}
.nav-carousel__model {
  width: 100%;
}
.nav-carousel__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 47px;
  max-width: 47px;
  min-height: 47px;
  max-height: 47px;
  background-color: rgba(42, 42, 42, 0.1490196078);
}
.nav-carousel__svg:hover path {
  fill: #F16D7F;
}

.info-product {
  padding-bottom: 130px;
}
.info-product__flex {
  padding-top: 64px;
  padding-bottom: 64px;
  border: 1px solid #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: -40px;
  background-color: #FFF;
}
@media (max-width: 767px) {
  .info-product__flex {
    margin-top: -20px;
  }
}
@media (max-width: 375px) {
  .info-product__flex {
    margin-top: -10;
  }
}
.info-product__title {
  margin-bottom: 12px;
  color: #F16D7F;
  font-size: 14px;
  font-weight: 300;
}
.info-product__devidor {
  margin-bottom: 12px;
  width: 63px;
  height: 3px;
  background-color: #F16D7F;
}
.info-product__subtitle {
  margin-bottom: 48px;
  color: #4D4D4D;
  font-size: 18px;
  font-weight: 300;
}
.info-product__text {
  margin-bottom: 32px;
  max-width: 555px;
  color: #5E5E5E;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  font-family: "latolight";
}
.info-product__price {
  margin-bottom: 52px;
  color: #F16D7F;
  font-size: 24px;
  font-weight: 300;
}
.info-product__vector {
  margin-bottom: 64px;
  width: 100%;
  height: 1px;
  background-color: #EAEAEA;
}
.info-product__choice {
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 24px;
}
.info-product__choice_item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}
.info-product__add_to_cart {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 139px;
  height: 44px;
  border: 1px solid;
  color: #F16D7F;
  gap: 24px;
  width: 200px;
  height: 48px;
}

.info-product__add_to_cart:hover {
  background-color: #F16D7F;
  color: #FFF;
}
.info-product__add_to_cart:hover path {
  fill: #FFF;
}

.registration-content {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
}
@media (max-width: 562.5px) {
  .registration-content {
    flex-direction: column;
  }
}
.registration-content__form_flex {
  display: flex;
  flex-direction: column;
  min-width: 360px;
  max-width: 360px;
  color: #222;
}
.registration-content__form_title {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
}
.registration-content__form_input {
  width: 360px;
  height: 45px;
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 300;
  color: #B1B1B1;
  border: 1px solid #A4A4A4;
}
.registration-content__form_radio {
  margin-bottom: 20px;
  font-size: 11px;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.registration-content__form_subtitle {
  color: #B1B1B1;
}
.registration-content__form_button {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 167px;
  height: 50px;
  font-size: 14px;
  font-weight: 400;
  border: 0;
}
.registration-content__form_button:hover {
  color: #FFF;
  background-color: #F16D7F;
}
.registration-content__loyalty {
  display: grid;
  grid-template-columns: 1fr 7fr;
  font-size: 24px;
  font-weight: 300;
}
@media (max-width: 562.5px) {
  .registration-content__loyalty {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 767px) {
  .registration-content__loyalty {
    font-size: 16px;
  }
}
.registration-content__loyalty_title {
  margin-bottom: 32px;
}
.registration-content__loyalty_tick {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.registration-content__loyalty_subtitle {
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 734px);
    padding-right: calc(50% - 734px);
  }
  .top {
    display: grid;
    grid-template-columns: 1fr;
  }
  .top_img {
    display: none;
  }
  .top_title1 {
    font-size: 42px;
    font-weight: 900;
  }
  .top_title2 {
    font-size: 28px;
    font-weight: 700;
  }
  .middle {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .middle_item3 {
    grid-column: span 2;
  }
  .middle_item4 {
    grid-column: span 2;
  }
  .content_item img {
    width: 100%;
  }
  .service {
    flex-direction: column;
  }
  .service__icon path {
    fill: #FFF;
  }
  .service__flex:hover path {
    fill: #F16D7F;
  }
  .subscribe {
    flex-direction: column;
    gap: 48px;
  }
}
@media (max-width: 375px) {
  .center {
    padding-left: calc(50% - 344px);
    padding-right: calc(50% - 344px);
  }
  .top_title {
    padding-left: 20px;
  }
  .top_title1 {
    font-size: 38px;
    font-weight: 900;
  }
  .top_title2 {
    font-size: 22px;
    font-weight: 700;
  }
  .middle {
    display: grid;
    grid-template-columns: 1fr;
  }
  .middle_item3 {
    grid-column: span 1;
  }
  .middle_item4 {
    grid-column: span 1;
  }
  .menu_person {
    display: none;
  }
  .menu_basket {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */