* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header {
    padding-top: 39px;
    padding-bottom: 80px;
}

.title {
    margin-top: 60px;
    margin-bottom: 17px;
}

.content__button {
    margin-top: 52px;
    margin-bottom: 100px;
}

.top__footer {
    padding-top: 97px;
    padding-bottom: 96px;
}