* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    padding-top: 39px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;

}

.nav_menu {
    display: flex;
    gap: 20px;
}

.nav_menu1 {
    color: coral;
    font-size: 15px;
    font-weight: 400;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.title {
    width: 600px;
    margin-top: 60px;
    margin-bottom: 17px;
    font-size: 60px;
    font-weight: 400;
}

.subtitle {
    width: 520px;
    font-size: 20px;
    font-weight: 400;
}

.content__button {
    margin-top: 52px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    gap: 72px;
    font-size: 15px;
    font-weight: 400;
}

.footer {
    padding-top: 97px;
    padding-bottom: 96px;
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.center_block {
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(3, 370px);
    gap: 60px;
}

.img_center {
    margin-bottom: 25px;
}

.title_center {
    margin-bottom: 17px;
    font-size: 24px;
    font-weight: 400;
}

.subtitle_center {
    margin-bottom: 25px;
    width: 310px;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
}

.title_center2 {
    margin-bottom: 25px;
    font-size: 11px;
    font-weight: 400;
    line-height: 150%;
}

.footer_block {
    padding-top: 90px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
}

.top_title_footer {
    margin-bottom: 19px;
    font-size: 45px;
    font-weight: 400;
}

.top_subtitle_footer {
    margin-bottom: 54px;
    width: 682px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.grid_footer {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    gap: 30px;
}

.item_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_footer {
    margin-bottom: 22px;
    font-size: 24px;
    font-weight: 400;
}

.subtitle_footer {
    margin-bottom: 39px;
    width: 310px;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
}

.button_footer {
    font-size: 13px;
    font-weight: 400;
    line-height: 150%;
}