.product {
    padding-bottom: 20px;
    @include flexLeft();
    flex-direction: column;
    background-color: #F8F8F8;

    &__img {
        margin-bottom: 24px;
        width: 100%;
    }

    &__name {
        margin-bottom: 12px;
        font-size: 13px;
        font-weight: 400;
    }

    &__text {
        margin-bottom: 18px;
        font-size: 14px;
        font-weight: 300;
        color: #5D5D5D;
    }

    &__price {
        color: $colorSelection;
        font-size: 16px;
        font-weight: 400;
    }
}